@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html {
  font-size: 1rem;
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', 'sans-serif';
}

p {
  color: white;
  margin-bottom: 0;
  margin-top: 3px;
}

.time {
  position: relative;
  float: right;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: column;
  display: flex;
  width: 80vw;
  height: 70vh;
  padding: 10vh 10vw;
  background: #636E72;
  position: relative;
}

.leaderboard {
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: column;
  display: flex;
  width: 80vw;
  height: 65vh;
  margin-top: 2vh;
  position: relative;
}

.leaderboardEntry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  width: 80vw;
  height: 54px;
  border-radius: 27px;
  margin-bottom: 2vh;
}

.driverInformation>span {
  color: #28464b;
  position: relative;
  font-size: 1.2rem;
  padding-left: 25px;
}

.fastLap {
  color: #b9b9b9 !important;
}

.lapInformation>span {
  color: #28464b;
  position: relative;
  font-size: 1.2rem;
  padding-right: 25px;
}



.footer {
  height: 10vh;
  width: 100%;
  background: #2D3436;
}
/*# sourceMappingURL=style.css.map */