body, html{
  width: 100%;
  height: 100vh;
  margin: 0;
}

.content{
  display: flex;
  width: 80vw;
  height: 70vh;
  padding: 10vh 10vw;
  background: #636E72;
  position: relative;
  display: flex;
  width: 80vw;
  height: 70vh;
  padding: 10vh 10vw;
  background: #636E72;
  position: relative;
}

.footer{
  height: 10vh;
  width: 100%;
  background: #2D3436;
}