<ion-header>
  <ion-toolbar>
    <ion-title>Rennen erstellen</ion-title>
    <ion-button slot="end" (click)="dismiss()" color="danger"><i class="fas fa-times    "></i></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="column">
    <input type="text" placeholder="Name des Rennens" [(ngModel)]="raceName">
    <input type="number" placeholder="Stunden" [(ngModel)]="hours">
    <input type="number" placeholder="Minuten" [(ngModel)]="minutes">
    <input type="number" placeholder="Sekunden" [(ngModel)]="seconds">
    <ion-button slot="start" (click)="createRace(); dismiss()" color="success">Erstellen</ion-button>
  </div>
</ion-content>
