<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Dashboard">
      <ion-icon name="desktop"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="manage">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Manage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create">
      <ion-icon name="create"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
