@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html {
  font-size: 1rem;
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', 'sans-serif';
}

p {
  color: white;
  margin-bottom: 0;
  margin-top: 3px;
}

span {
  padding-left: 25px;
  font-size: 25px;
}

.time {
  position: relative;
  float: right;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: column;
  display: flex;
  width: 80vw;
  height: 70vh;
  padding: 10vh 10vw;
  background: #636E72;
  position: relative;
}

.innerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: column;
  display: flex;
  width: 80vw;
  height: 65vh;
  margin-top: 2vh;
  position: relative;
}

.dropdown>select{
  width: 100%;
  height: 45px;
  border-radius: 30px;
  padding: 5px 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  font-size: 1.2rem;
}

.dropdown{
  height: 45px;
  margin-left: 0;
  position: relative;
  margin-bottom: 2vh;
}

.dropdown>i{
  position: absolute;
  right: 30px;
  font-size: 25px;
  top: 10px;
}

.dropdown>i:hover{
  cursor: pointer;
}

.customButton {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50vw;
  height: 54px;
  border-radius: 27px;
  margin-bottom: 2vh;
}

.footer {
  height: 10vh;
  width: 100%;
  background: #2D3436;
}
/*# sourceMappingURL=style.css.map */