<ion-header>
  <ion-toolbar>
    <ion-title>Manage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="darkbackground">
  <div class="informations">
    <p class="time">21:30</p>
    <p>Rennstatus: fly am been</p>
    <p>Verbleibende Zeit: 02h 15min 10s</p>
  </div>
  <div class="innerContent">
    <div class="dropdown">
      <i class="fas fa-angle-down"></i>
      <select>
        <option>Rennen 1</option>
        <option>Rennen 2</option>
        <option>Rennen 3</option>
        <option>Rennen 4</option>
        <option>Rennen 5</option>
      </select>
    </div>
    <ion-button color="success"><span>Rennen starten</span></ion-button>
    <ion-button color="warning"><span>Rennen anhalten</span></ion-button>
    <ion-button color="light"><span>Rennen fortsetzen</span></ion-button>
    <ion-button color="danger"><span>Rennen beenden</span></ion-button>
  </div>
</ion-content>