@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600');
$border-color: rgba(40, 70, 75, 0.3);

body, html {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  color: #28464B;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  flex-direction: column;
  display: flex;
  width: 80vw;
  height: 70vh;
  padding: 10vh 10vw;
  background: #636E72;
  position: relative;
  display: flex;
  width: 80vw;
  height: 70vh;
  padding: 10vh 10vw;
  background: #636E72;
  position: relative;
}

.dropdown>select{
  width: 100%;
  height: 45px;
  border-radius: 30px;
  padding: 5px 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  font-size: 1.2rem;
  background: #fff;
  border: 1px solid $border-color
}

.dropdown{
  height: 45px;
  margin-left: 0;
  position: relative;
}

.dropdown>i{
  position: absolute;
  right: 30px;
  font-size: 25px;
  top: 10px;
}

.dropdown>i:hover{
  cursor: pointer;
}

.footer {
  height: 10vh;
  width: 100%;
  background: #2D3436;
}

.driver-group{
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-top: 45px;
}

.driver-group>input:last-child{
  margin-bottom: 0;
}

.driver-group>input:focus{
  outline: none;
  box-shadow: 0 0 0 2pt #0275D8;
}

.driver-group>input{
  margin-bottom: 10px;
  height: 45px;
  border-radius: 30px;
  border: 1px solid $border-color;
  box-shadow: none;
  padding: 0px 20px;
  font-size: 1.2rem;
}

.w-50{
  width: 50%;
}

.buttons{
//   width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 10px;
}

.buttons>button:first-child{
  margin-right: 20px;
}

.button{
  border-radius: 30px;
  height: 35px;
  border: none;
  box-shadow: none;
  font-size: 1.3rem;
  font-weight: 600;
}

.button>i{
  padding: 0px 4px;
}

.button:focus{
  outline: none;
}

.button-success{
  background: #5CB85C;
  color: #fff;
}

.button-success:focus{
  box-shadow: 0 0 3px 2pt #438543;
}

.button-danger:focus{
  box-shadow: 0 0 3px 2pt #852d2a;
}

.button-danger{
  background: #D9534F;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */

button, input, textarea, select{
    font-family: 'Montserrat', sans-serif !important;
}