<ion-header>
  <ion-toolbar>
    <ion-title>Neuer Fahrer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="row">
    <div class="dropdown">
      <i class="fas fa-angle-down"></i>
      <select [(ngModel)]="selectedRace">
        <option disabled selected hidden value="default">Rennen wählen...</option>
        <option *ngFor="let race of races" [value]="race.id">{{race.name}}</option>
      </select>
    </div>
    <button class="button button-success" (click)="presentModal()"><i class="fas fa-plus" aria-hidden="true"></i></button>
  </div>

    <div class="driver-group">
      <input type="text" placeholder="Name" [(ngModel)]="driverName">
      <input type="number" placeholder="Startnummer" [(ngModel)]="startNumber">
      <div class="dropdown">
        <i class="fas fa-angle-down"></i>
        <select >
          <option disabled selected hidden>Klasse wählen...</option>
          <option>50ccm</option>
          <option>125ccm</option>
          <option>300ccm</option>
          <option>600ccm</option>
          <option>>600ccm</option>
        </select>
      </div>
    </div>

    <div class="buttons">
      <button class="button button-success" (click)="createDriver()"><i class="fas fa-plus"></i>Erstellen</button>
      <button class="button button-danger"><i class="fas fa-trash"></i>Verwerfen</button>
    </div>

</ion-content>
