// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
$border-color: rgba(40, 70, 75, 0.3);

div.row{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

div.row>.dropdown{
  margin-right: 10px;
  width: 100%;
  margin-left: 0px;
}

div.dropdown>select{
  border: 1px solid $border-color;
}

input:focus{
  outline: none;
  box-shadow: 0 0 0 2pt #0275D8;
}

input{
  margin-bottom: 10px;
  height: 45px;
  border-radius: 30px;
  border: 1px solid $border-color;
  box-shadow: none;
  padding: 0px 20px;
  font-size: 1.2rem;
}

button, input, textarea, select{
  font-family: 'Montserrat', sans-serif !important;
}

